NEXTAUTH_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:8003
# NEXT_PUBLIC_API_URL=http://localhost:4010 # Prism backend
NEXTAUTH_SECRET=secret # Required for JWT signing (e.g. `openssl rand -base64 32`)
NEXT_PUBLIC_HYPERDX_URL=http://localhost:8080