# Authentication
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=secret # Required for JWT signing (e.g. `openssl rand -base64 32`)

# API 
NEXT_PUBLIC_API_URL=http://localhost:8003
# NEXT_PUBLIC_API_URL=http://localhost:4010 # Prism backend - Mock backend for dfe-engine

# HyperDX
NEXT_PUBLIC_HYPERDX_URL=http://localhost:8080

# DevAlerts
NEXT_PUBLIC_DEV_ALERTS=true